<div class="container">
  <form id="hiragana-form">
    <label for="hiragana-input">ひらがなを入力してください：</label>
    <input id="hiragana-input" type="text" placeholder="ひらがな入力欄">
    <button id="convert-button">変換</button>
    <input id="output" type="text" placeholder="ラオス語出力欄">
    <button id="deleteButton">削除</button>
  </form>

  <div class="custom-keyboard">
    <%= render 'shared/custom_keyboard' %>
  </div>
</div>